.onClickedBtn {
    color: red;
}

.notClickedBtn:hover {
    background: blue;
}

.btn {
    margin: 3px;
}

.div {
    align-items: center;
    margin: 3px;
}

.bi {
    font-size: 40px;
}

body {
    padding: 5px;
}

.hidden {
  display: none;
}